:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: #333333; /* experimental */
  /* background-color: #242424;  */
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* padding-top: 86px; 
  padding-right: 200px;  */
  padding: 4rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f5f5f5;
}

/* moved in from App.css */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  /* text-align: center; */
}

/* moved in from App.css */
.card {
  background-color: #fff; 
  border: 1px solid #0a534d; 
}

/* SIDENAV CSS */

.sideBar {
  position: fixed;
  top: 68px; /* below topnav & header */
  right: 0;
  width: 18vw ;
  height: calc(100vh - 60px); /* full height minus topnav & header */
  background-color: #0a534d;
  border: 3px solid #a0522d;
  padding-top: 1rem;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  z-index: 1000;
  display: flex;
  /* display:block; */
  flex-direction: column;
  overflow-y: auto;
  align-items: flex-start;
  /*margin: 5%;
  flex-grow: 4; */
}

.sideBar button {
  padding: .3rem 1rem;
  font-size: .8rem;
  background-color: #0a534d;
  color: #f5f5f5;
  margin: 0.5rem 0;
  text-align: left;
  /* display: inline-flex; */
}

.sideBar button:hover {
  background-color: #15837a ;
}

.sideBar .nav-link {
  color: #333333;
  margin-bottom: 10px;
  width: 100px;
}

.sideBar .nav-link:hover{
  color: #1974d2;
}

.resource-nav{
  width: 100px;
}


/* TOP NAVBAR CSS */

.navbar{
  z-index: 950;
  padding: 0.5rem;
  background-color: #0a534d;
  color: #f5f5f5;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 2px solid #a0522d;
}

.navbar .navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-item .navbar-text {
  color: #f5f5f5;
}

.nav-link {
  color: #f5f5f5;
}

.nav-link:hover{
  color: goldenrod;
  text-decoration: none;
  font-weight: bold;
}

.navbar .form-inline {
  display: flex;
  flex: 1;
  align-items: center;
}

.navbar .form-control {
  width: auto;
  flex: 1;
  margin-right: 0.5rem;
}

.navbar .form-inline .btn {
  margin-left: 8px;
}

.navbar .btn-primary {
  background: #15837a;
  border: none;
  margin-left: 0.5rem;
}

.navbar .btn-primary:hover {
  background-color: goldenrod;
  color: #0a534d;
  font-weight: bold;
}

.navbar-brand {
  /* margin-left: 8px; */
  font-size: 1.75rem;
  text-shadow: #000;
}

/* HEADER CSS */

.header {
  background-color: goldenrod;
  border: 2px solid #a0522d;
  /* width: calc(100%-200px); */
  width: 100%;
  /* height: 50px; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0; 
  top: 56px;
  z-index: 900;
  padding: 1rem 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%;
  padding: 0 20px; */
}

.header h1 {
  font-size: 2.5rem;
  padding-top: 10px;
  /* padding-bottom: 10px; */
  color: #0a534d;
  margin: 0;
}

/* IFRAME STYLES */

.iframe-container {
  position: relative;
  width: 100%;
  /* height: calc(100vh - 136px); */
  height: 70vh;

}

.iframe-container iframe {
  /* width: 90vw; */
  width: 100%;
  height: 100%;
  border: 2px solid #333333;
}

.iframe-container iframe #document{
  size: 75%; 
}

.top-text, .bottom-text {
  margin: 1rem 0;
  color: #000;
  text-align: center;
}


/* Universal bits*/

.content{
  margin-right: 18vw;
  padding-top: 5em ;
  width: calc(100% - 18vw);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

p {
  font-size: .9em;
}

h1 {
  font-size: 4vw;
  line-height: 1.1;
  margin: 0;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.4em .9em;
  font-size: .8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 768px) {
  body{
    padding-right: 0;
    padding-top: 136px;
  }

  .sideBar {
    width: 100%;
    display: block;
    height: auto;
    position: static;
    top: 136px;
    right: 0;
    left: 0;
    padding: 10px;
    box-shadow: none;
  }

  .header{
    width: 100%;
    top: 56px;
  }

  .navbar{
    position: fixed;
    top: 0;
    width: 100%;
  }

  /* .navbar-brand{
    font-size: 6.5vw;
  } */

  .content{
    padding: 1rem;
    width: 100%;
  }

  .toggle-button {
    display: block;
  }

}

.toggle-button {
  display: none;
  position: fixed;
  top: 60px;
  right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  z-index: 1001;
  cursor: pointer;
}